.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.message-img {
  padding: 15px;
}
.message-name {
  padding: 15px;
  text-align: center;
}

.message-date {
  padding: 35px;
  font-size: 75%;
  text-align: center;
}
.message-body {
}
